<app-preloader
*ngIf="isLoading"
></app-preloader>

<section
*ngIf="!isLoading"
id="selection-section">
    <article 
    *ngIf="isEmpty"
    class="no-material-txt">
        <p>There are no assigments for this subject, but you can add the first one!</p>
        <button mat-flat-button
        (click)="openDialogWindow()"
        class="add-material-btn"
        >Add a material</button>
    </article>

    <ul *ngIf="!isEmpty">
        <li *ngFor="let subjectData of data.length > 0 ? data : []">
            <a href="{{subjectData.uni}}/{{subjectData.subject}}/{{subjectData.assignmentname}}">
                <figure>
                    <div>
                        <img
                        src="{{subjectData.assignmentmedia}}">
                    </div>
                
                    <figcaption>{{subjectData.assignmentname}}</figcaption>
                </figure>
            </a>
        </li>
    </ul>

    <footer *ngIf="!isEmpty">
        <article 
        *ngIf="!isEmpty"
        class="no-material-txt">
            <p>You can help other students by adding assignment for this subject</p>
            <button mat-flat-button
            (click)="openDialogWindow()"
            class="add-material-btn footer"
            >Add a material</button>
    
        </article>
    </footer>
</section>
