$purple: #4E6AF0;
$black: #191D21;
$grey: #656F77;

section {
    article {
        display: none;
    }

    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    
        ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            place-items: center;
            gap: 2rem;

            li {
                mat-form-field {
                    width: 20rem !important;
                    height: 3.75rem !important;

                    .mat-mdc-form-field-infix {
                        height: 3.75rem !important;
                    }
                }
            }
        }

        a {
            font-size: 2.1rem !important;
            font-weight: 600;

            padding: 2.2rem 2.75rem !important;
            border-radius: .75rem !important;

            &[disabled] {
                color: #c0c0c0 !important;
                background-color: #3649a9 !important;
            }
        }
    }
}

@media screen and (max-width: 1540px) {
    section {
        main {
            ul {
                gap: 2.75rem;

                li {
                    mat-form-field {
                        width: 17rem !important;
                        height: 3.1rem !important;
    
                        .mat-mdc-form-field-infix {
                            height: 3.1rem !important;
                        }
                    }
                }
            }

            a {
                font-size: 1.4rem !important;
                font-weight: 600;
    
                padding: 1.9rem 2.2rem !important;
    
                &[disabled] {
                    color: #c0c0c0 !important;
                    background-color: #3649a9 !important;
                }
            }
        }
    }
}

@media screen and (max-width: 1370px) {
    section {
        main {
            ul {
                grid-template-columns: repeat(2, 1fr);
            }

            a {
                font-size: 1.7rem !important;

                padding: 2.15rem 2.65rem !important;
            }
        }
    }
}

@media screen and (max-width: 630px) {
    section {
        main {
            ul {
                gap: 2rem;

                li {
                    mat-form-field {
                        width: 15rem !important;
                        height: 3.25rem !important;
    
                        .mat-mdc-form-field-infix {
                            height: 3.25rem !important;
                        }
                    }
                }
            }

            a {
                font-size: 1.35rem !important;
                font-weight: 600;
    
                padding: 1.8rem 2rem !important;
    
                &[disabled] {
                    color: #c0c0c0 !important;
                    background-color: #3649a9 !important;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    section {
        main {
            ul {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}