$purple: #4E6AF0;
$black: #191D21;
$grey: #656F77;

header {
    position: fixed;
    top: 0;
    left: 0;

    background-color: $black;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 4rem;

    z-index: 99;

    nav {
        display: flex;
        align-items: center;
        gap: 1rem;

        a {
            &:last-child {
                opacity: 0;
                visibility: hidden;
            }

            img {
                width: 10rem;
            }
        }
    }

    div {
        display: flex;
        align-items: center;

        gap: 2rem;

        button {
            padding: 1.75rem 2rem;
            font-size: 1.35rem;
        }
    }
}

@media screen and (max-width: 1540px) {
    header {
        img {
            width: 8rem;
        }

        div {
            gap: 1.25rem;

            button {
                padding: 1.45rem 1.5rem;
                font-size: 1.15rem;
            }
        }
    }
}

@media screen and (max-width: 1370px) {
    header {
        padding: 1rem 3rem;

        img {
            width: 7rem;
        }

        div {
            gap: 1.15rem;

            button {
                padding: 1.4rem 1.75rem;
                font-size: 1.15rem;
            }
        }
    }
}

@media screen and (max-width: 1030px) {
    header {
        padding: 1rem 3rem;

        img {
            width: 6rem;
        }

        div {
            button {
                padding: 1.1rem 1.15rem;
                font-size: 1rem;
            }
        }
    }
} 