$black: #191D21;
$grey: #656F77;

header {
    position: fixed;
    top: 0;
    left: 0;

    background: $black;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 2rem;

    z-index: 99;

    nav {
        display: flex;
        align-items: center;
        gap: 1rem;

        a {
            &:last-child {
                opacity: 0;
                visibility: hidden;
            }

            img {
                width: 7rem;
            }
        }
    }

    mat-form-field {
        input {
            height: 50px !important;
        } 
    }

    div {
        display: flex;
        align-items: center;

        gap: 1rem;

        button {
            padding: 1.3rem 1.4rem;
            font-size: .95rem;
        }
    }
}