<section id="selection-section">
    <article 
    *ngIf="isEmpty"
    class="no-material-txt">
        <p>There are no assigments for this subject, but you can add the first one!</p>
        <a 
        mat-flat-button
        href="">Add a material</a>

        <form>
            <input 
            name="file"
            (change)="onFileSelected($event)"
            type="file">

            <button (click)="uploadImg($event)">asd</button>
        </form>

    </article>

    <ul>
        <li *ngFor="let subjectData of data.length > 0 ? data : []">
            <figure>
                <p>{{subjectData.assignmentmedia}}</p>
                    <img src="{{subjectData.assignmentmedia}}">
            
                <figcaption>{{subjectData.assignmentname}}</figcaption>
            </figure>
        </li>
    </ul>
</section>
