<section>
    <main>
        <img src="../../../assets/icons/github-icon.png" alt="">

        <article>
            <div>
                <p>
                    You can help me by clicking the <img src="../../../assets/icons/star-icon.png" alt=""> <br> on my project on
                </p>

                <a 
                mat-stroked-button 
                href="https://github.com/sdeffff/clarity-app"
                target="_blank">GitHub</a>
            </div>

            <p>Hope I helped you :)</p>
        </article>
    </main>
</section>