@use '@angular/material' as mat;

@import "styles.scss"; // - to ensure that font loads before angular material


// For more information: https://material.angular.io/guide/theming

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

// Variables for styling:
$purple: #4E6AF0;
$black: #191D21;
$grey: #656F77;

// Use your actual font
$custom-typography: mat.define-typography-config(
  $font-family: 'Kinetika'
);

// Create a custom palette based on your purple color
$custom-primary: mat.define-palette(mat.$indigo-palette);
$custom-accent: mat.define-palette(mat.$pink-palette); 
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  ),
  typography: $custom-typography,
  density: 0,
));

@include mat.all-component-themes($custom-theme);

//For primary btn 
.mat-mdc-raised-button, 
.mat-mdc-unelevated-button, 
.mat-mdc-text-button {
  font-family: 'Kinetika' !important;
  background-color: $purple !important;
  color: white !important;
}

//--

//For basic button: 
.mat-mdc-button {
  background-color: transparent !important;
  color: #fff !important;
}

//--

//For secondary btn
.mat-mdc-outlined-button {
  background-color: #fff !important;
  color: $black !important; 

  border: 1px solid $black !important;
}

//--

//For mat-fab button: 
html .mat-mdc-fab.mat-accent, 
body .mat-mdc-fab.mat-accent, 
html .mat-mdc-fab-extended.mat-accent, 
body .mat-mdc-fab-extended.mat-accent { 
  background-color: #4E6AF0 !important;
}

//--

/* Input styles */
.mdc-text-field--filled .mdc-floating-label {
  font-family: 'Kinetika' !important;
}

.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
  display: none !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  height: 50px !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  font-family: 'Kinetika' !important;
  color: $black !important;
  caret-color: $purple !important;
}

//Label: 
.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: calc(var(--mat-form-field-container-height)/2.35) !important;
}

//Input
.mdc-text-field--filled, 
.mdc-text-field {
  border-top-left-radius: .25rem !important;
  border-top-right-radius: .25rem !important;
  border-bottom-left-radius: .25rem !important;
  border-bottom-right-radius: .25rem !important;

  border: 1px solid $grey !important;
}

.mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding-top: var(--mat-form-field-container-vertical-padding) !important;
  padding-bottom: var(--mat-form-field-container-vertical-padding) !important;
}

.mat-mdc-form-field-infix {
  padding: 0 !important;
}

.mat-mdc-select-trigger .mat-mdc-select-value {
  height: 2.15rem !important;

  span {
    font-size: 2.05rem !important;
  }
}

.mat-mdc-option .mdc-list-item__primary-text {
  font-size: 1.7rem !important;
}

html, body {
  @include mat.all-component-themes($custom-theme);
}

@media screen and (max-width: 1540px) {
  .mat-mdc-select-trigger .mat-mdc-select-value {
    height: 1.6rem !important;
  
    span {
      font-size: 1.4rem !important;
    }
  }
  
  .mat-mdc-option .mdc-list-item__primary-text {
    font-size: 1.25rem !important;
  }
}