// Import variables
$black: #191D21;
$grey: #656F77;

@font-face {
    font-family: "Kinetika";
    font-weight: 400;
    src: url("./assets/font/Kinetika-Regular.woff");
}

@font-face {
    font-family: "Kinetika";
    font-weight: 500;
    src: url("./assets/font/Kinetika-Medium.woff");
}

@font-face {
    font-family: "Kinetika";
    font-weight: 300;
    src: url("./assets/font/Kinetika-Book.woff");
}

@font-face {
    font-family: "Kinetika";
    font-weight: 600;
    src: url("./assets/font/Kinetika-SemiBold.woff");
}

@font-face {
    font-family: "Kinetika";
    font-weight: 200;
    src: url("./assets/font/Kinetika-Thin.woff");
}

@font-face {
    font-family: "Kinetika";
    font-weight: 700;
    src: url("./assets/font/Kinetika-Bold.woff");
}

html, body { height: 100%; }

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: 'Kinetika', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
html, body { 
    background-color: $black;
    height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
