// Import variables
$black: #191D21;
$grey: #656F77;

@font-face {
    font-family: "LetoSans-Bold";
    src: url("https://db.onlinewebfonts.com/t/33bce88f104fedc26d91518f6d8b4ca3.eot");
    src: url("https://db.onlinewebfonts.com/t/33bce88f104fedc26d91518f6d8b4ca3.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/33bce88f104fedc26d91518f6d8b4ca3.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/33bce88f104fedc26d91518f6d8b4ca3.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/33bce88f104fedc26d91518f6d8b4ca3.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/33bce88f104fedc26d91518f6d8b4ca3.svg#LetoSans-Bold")format("svg");
}

html, body { height: 100%; }

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: 'LetoSans-Bold', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
