<section *ngIf="!isError">
    <main>
        <div
        #assignmentMedia
        class="image-container">
            <img
            *ngIf="!isPdf(data[0].assignment_media)"
            (mouseenter)="handleMouseEnter($event)"
            (mousemove)="handleMouseMove($event)"
            class="assignment-preview"
            src="{{data[0].assignment_media}}">

            <object 
            *ngIf="isPdf(data[0].assignment_media)" 
            class="pdf-preview"
            [data]="data[0].assignment_media"
            type="application/pdf"
            width="100%"
            height="600px">
            <p>Unable to display PDF. <a href="{{data[0].assignment_media}}" target="_blank">Download PDF</a> instead.</p>
        </object>
        </div>

        <article>
            <div>
                <img src="../../../assets/icons/account-icon.svg" alt="">

                <p>{{data[0].author}}</p>
            </div>


            <div>
                <h2>{{data[0].assignment_name}}</h2>

                <a mat-stroked-button href="" download="{{data[0].assignment_media}}">
                    <div>
                        <p>Download File</p>

                        <span>
                            <p>{{fileSize}}</p>
                        
                            <img src="../../../assets/icons/download-icon.png" alt="">
                        </span>
                    </div>
                </a>
            </div>
        </article>
    </main>
</section>