<section *ngIf="!isError">
    <main>
        <div
        #assignmentMedia
        class="image-container">
            <img
            (mouseenter)="handleMouseEnter($event)"
            (mousemove)="handleMouseMove($event)"
            class="assignment-preview"
            src="{{data[0].assignment_media}}">
        </div>

        <article>
            <div>
                <img src="../../../assets/icons/account-icon.svg" alt="">

                <p>{{data[0].author}}</p>
            </div>


            <div>
                <h2>{{data[0].assignment_name}}</h2>

                <a mat-stroked-button href="" download="{{data[0].assignment_media}}">
                    <div>
                        <p>Download Assignment</p>

                        <span>
                            <p>{{fileSize}}</p>
                        
                            <img src="../../../assets/icons/download-icon.png" alt="">
                        </span>
                    </div>
                </a>
            </div>
        </article>
    </main>
</section>